<%-include('./includes/head') %>

    <body>
        <%-include('./includes/header') %>
            <video
                src="https://player.vimeo.com/external/372327760.sd.mp4?s=1b5df36319c5d311001b5ac003e69b8840ccb10b&profile_id=164&oauth2_token_id=57447761"
                class="object-fit-contain" autoplay></video>
            <video
                src="https://player.vimeo.com/external/372327760.sd.mp4?s=1b5df36319c5d311001b5ac003e69b8840ccb10b&profile_id=164&oauth2_token_id=57447761"
                class="object-fit-cover" autoplay></video>
            <video
                src="https://player.vimeo.com/external/372327760.sd.mp4?s=1b5df36319c5d311001b5ac003e69b8840ccb10b&profile_id=164&oauth2_token_id=57447761"
                class="object-fit-fill" autoplay></video>
            <video
                src="https://player.vimeo.com/external/372327760.sd.mp4?s=1b5df36319c5d311001b5ac003e69b8840ccb10b&profile_id=164&oauth2_token_id=57447761"
                class="object-fit-scale" autoplay></video>
            <video
                src="https://player.vimeo.com/external/372327760.sd.mp4?s=1b5df36319c5d311001b5ac003e69b8840ccb10b&profile_id=164&oauth2_token_id=57447761"
                class="object-fit-none" autoplay></video>
    </body>

    </html>